@import "_colors";
@import "Text";
@import "utils";

.genreSearch {
    display: flex;
    position: relative;

    .genreSearchLabel {
        @include labelText;
        padding-right: 5px;
    }

    .genreSuggestions {
        position: absolute;
        top: 100%;
        background-color: $white;
        border: 1px solid $black;
        max-height: 150px;
        overflow: scroll;
        overflow-x: hidden;

        .genreButton {
            min-width: 100%;
            background-color: $white;
            border: none;
            border-bottom: 0.5px solid $black;
        }

        .genreButton:last-of-type {
            border: none;
        }
    }
}